<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="jnbridge">
      <section name="dotNetToJavaConfig"
          type="System.Configuration.SingleTagSectionHandler"/>
      <section name="javaToDotNetConfig"
          type="System.Configuration.SingleTagSectionHandler"/>
      <section name="tcpNoDelay"
          type="System.Configuration.SingleTagSectionHandler"/>
      <section name="javaSideDeclarations"
          type="System.Configuration.NameValueSectionHandler"/>
      <section name="assemblyList"
          type="com.jnbridge.jnbcore.AssemblyListHandler, JNBShare"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <jnbridge>
    <dotNetToJavaConfig scheme="sharedmem"
    			jvm="C:\Program Files\Java\jre1.8.0_211\bin\server\jvm.dll"
    			jnbcore="C:\Program Files (x86)\JNBridge\JNBridgePro v10.0\jnbcore\jnbcore.jar"
    			bcel="C:\Program Files (x86)\JNBridge\JNBridgePro v10.0\jnbcore\bcel-5.1-jnbridge.jar"
    			classpath="C:\Program Files (x86)\JNBridge\JNBridgePro v10.0\jnbcore\jnbcore.jar;C:\Program Files (x86)\JNBridge\JNBridgePro v10.0\jnbcore\jnbcore.jar;C:\JNBridgePro\J2N_LogDemo\J2N_LogDemo\Java\proxies.jar;C:\Git_Repository\NServiceBusJNBridgeSample.jar;C:\Users\O'Neal Texada Jr\git\gs-rest-service\initial\target;C:\Program Files (x86)\JNBridge\JNBridgePro v10.0"
    			javaEntry="C:\Program Files (x86)\JNBridge\JNBridgePro v10.0\4.0-targeted\JNBJavaEntry_x64.dll" />
    <!-- optional list of .NET-side assemblies.  Adjust paths below to be correct for your machine. -->
    <assemblyList>
      <assembly file=".\Publish.exe"/>
      <assembly file=".\Shared.dll"/>
      <assembly file=".\Microsoft.Win32.Primitives.dll"/>
      <assembly file=".\netstandard.dll"/>
      <assembly file=".\NServiceBus.Core.dll"/>
      <assembly file=".\System.AppContext.dll"/>
      <assembly file=".\System.Collections.Concurrent.dll"/>
      <assembly file=".\System.Collections.dll"/>
      <assembly file=".\System.Collections.NonGeneric.dll"/>
      <assembly file=".\System.Collections.Specialized.dll"/>
      <assembly file=".\System.ComponentModel.dll"/>
      <assembly file=".\System.ComponentModel.EventBasedAsync.dll"/>
      <assembly file=".\System.ComponentModel.Primitives.dll"/>
      <assembly file=".\System.ComponentModel.TypeConverter.dll"/>
      <assembly file=".\System.Console.dll"/>
      <assembly file=".\System.Data.Common.dll"/>
      <assembly file=".\System.Diagnostics.Contracts.dll"/>
      <assembly file=".\System.Diagnostics.Debug.dll"/>
      <assembly file=".\System.Diagnostics.FileVersionInfo.dll"/>
      <assembly file=".\System.Diagnostics.Process.dll"/>
      <assembly file=".\System.Diagnostics.StackTrace.dll"/>
      <assembly file=".\System.Diagnostics.TextWriterTraceListener.dll"/>
      <assembly file=".\System.Diagnostics.Tools.dll"/>
      <assembly file=".\System.Diagnostics.TraceSource.dll"/>
      <assembly file=".\System.Diagnostics.Tracing.dll"/>
      <assembly file=".\System.Drawing.Primitives.dll"/>
      <assembly file=".\System.Dynamic.Runtime.dll"/>
      <assembly file=".\System.Globalization.Calendars.dll"/>
      <assembly file=".\System.Globalization.dll"/>
      <assembly file=".\System.Globalization.Extensions.dll"/>
      <assembly file=".\System.IO.Compression.dll"/>
      <assembly file=".\System.IO.Compression.ZipFile.dll"/>
      <assembly file=".\System.IO.dll"/>
      <assembly file=".\System.IO.FileSystem.dll"/>
      <assembly file=".\System.IO.FileSystem.DriveInfo.dll"/>
      <assembly file=".\System.IO.FileSystem.Primitives.dll"/>
      <assembly file=".\System.IO.FileSystem.Watcher.dll"/>
      <assembly file=".\System.IO.IsolatedStorage.dll"/>
      <assembly file=".\System.IO.MemoryMappedFiles.dll"/>
      <assembly file=".\System.IO.Pipes.dll"/>
      <assembly file=".\System.IO.UnmanagedMemoryStream.dll"/>
      <assembly file=".\System.Linq.dll"/>
      <assembly file=".\System.Linq.Expressions.dll"/>
      <assembly file=".\System.Linq.Parallel.dll"/>
      <assembly file=".\System.Linq.Queryable.dll"/>
      <assembly file=".\System.Net.Http.dll"/>
      <assembly file=".\System.Net.NameResolution.dll"/>
      <assembly file=".\System.Net.NetworkInformation.dll"/>
      <assembly file=".\System.Net.Ping.dll"/>
      <assembly file=".\System.Net.Primitives.dll"/>
      <assembly file=".\System.Net.Requests.dll"/>
      <assembly file=".\System.Net.Security.dll"/>
      <assembly file=".\System.Net.Sockets.dll"/>
      <assembly file=".\System.Net.WebHeaderCollection.dll"/>
      <assembly file=".\System.Net.WebSockets.Client.dll"/>
      <assembly file=".\System.Net.WebSockets.dll"/>
      <assembly file=".\System.ObjectModel.dll"/>
      <assembly file=".\System.Reflection.dll"/>
      <assembly file=".\System.Reflection.Extensions.dll"/>
      <assembly file=".\System.Reflection.Primitives.dll"/>
      <assembly file=".\System.Resources.Reader.dll"/>
      <assembly file=".\System.Resources.ResourceManager.dll"/>
      <assembly file=".\System.Resources.Writer.dll"/>
      <assembly file=".\System.Runtime.CompilerServices.VisualC.dll"/>
      <assembly file=".\System.Runtime.dll"/>
      <assembly file=".\System.Runtime.Extensions.dll"/>
      <assembly file=".\System.Runtime.Handles.dll"/>
      <assembly file=".\System.Runtime.InteropServices.dll"/>
      <assembly file=".\System.Runtime.InteropServices.RuntimeInformation.dll"/>
      <assembly file=".\System.Runtime.Numerics.dll"/>
      <assembly file=".\System.Runtime.Serialization.Formatters.dll"/>
      <assembly file=".\System.Runtime.Serialization.Json.dll"/>
      <assembly file=".\System.Runtime.Serialization.Primitives.dll"/>
      <assembly file=".\System.Runtime.Serialization.Xml.dll"/>
      <assembly file=".\System.Security.Claims.dll"/>
      <assembly file=".\System.Security.Cryptography.Algorithms.dll"/>
      <assembly file=".\System.Security.Cryptography.Csp.dll"/>
      <assembly file=".\System.Security.Cryptography.Encoding.dll"/>
      <assembly file=".\System.Security.Cryptography.Primitives.dll"/>
      <assembly file=".\System.Security.Cryptography.X509Certificates.dll"/>
      <assembly file=".\System.Security.Principal.dll"/>
      <assembly file=".\System.Security.SecureString.dll"/>
      <assembly file=".\System.Text.Encoding.dll"/>
      <assembly file=".\System.Text.Encoding.Extensions.dll"/>
      <assembly file=".\System.Text.RegularExpressions.dll"/>
      <assembly file=".\System.Threading.dll"/>
      <assembly file=".\System.Threading.Overlapped.dll"/>
      <assembly file=".\System.Threading.Tasks.dll"/>
      <assembly file=".\System.Threading.Tasks.Parallel.dll"/>
      <assembly file=".\System.Threading.Thread.dll"/>
      <assembly file=".\System.Threading.ThreadPool.dll"/>
      <assembly file=".\System.Threading.Timer.dll"/>
      <assembly file=".\System.ValueTuple.dll"/>
      <assembly file=".\System.Xml.ReaderWriter.dll"/>
      <assembly file=".\System.Xml.ReaderWriter.dll"/>
      <assembly file=".\System.Xml.XDocument.dll"/>
      <assembly file=".\System.Xml.XmlDocument.dll"/>
      <assembly file=".\System.Xml.XmlSerializer.dll"/>
      <assembly file=".\System.Xml.XPath.dll"/>
      <assembly file=".\System.Xml.XPath.XDocument.dll"/>
      <assembly file="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </assemblyList>
  </jnbridge>
</configuration>
